@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,800&display=swap");

// variables
$pallete-1: rgb(252, 210, 72);
$pallete-2: #329ec9;
$pallete-2: rgb(73, 115, 255);
$pallete-3: rgb(238, 238, 238);
$success-green: rgb(39, 174, 96);
$discount-green: rgb(17, 169, 139);

$font: "Baloo Paaji 2", cursive;
// mixins
@mixin big-screens {
  @media (min-width: 499px) {
    @content;
  }
}

@mixin btn {
  display: block;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  cursor: pointer;
}

@mixin full-width-btn {
  @include btn;
  padding: 1rem 2rem;

  width: 100%;
  margin: 0 auto;
}
