@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,800&display=swap");
.login-page {
  width: 100%; }

form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap; }

.message {
  border: 1px solid red;
  color: red;
  padding: 1em 0.25em;
  background-color: #f8b9b9; }
