@import "../../scss/partials/global";

.login-page {
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.message {
  border: 1px solid red;
  color: red;
  padding: 1em 0.25em;
  background-color: rgb(248, 185, 185);
}
