.title {
  margin: 0 auto;
  text-align: center;
}

.btn-fetch {
  display: block;
  width: 90%;
  font-size: 1.2em;
  border-radius: 0.25em;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: rgb(73, 115, 255);
  cursor: pointer;
}
