$font-color-1: rgb(48, 48, 48);
$discount: rgb(17, 169, 139);
.product {
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  &__price {
    color: $font-color-1;
    font-size: 1.4em;
    text-align: center;
    width: 50%;
  }
  &__discount {
    color: $discount;
    width: 50%;
  }
}

.price-block {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  flex-flow: row nowrap;

  &__real-value {
    color: $font-color-1;
    font-size: 1.6em;
  }

  &__old-value {
    font-size: 0.8rem;
    text-decoration: dashed;
    color: lighten($font-color-1, 30%);
  }

  &__discount {
    box-sizing: border-box;
    color: $discount;
    padding-left: 0.5em;
    padding-top: 1em;
  }
}
