@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,800&display=swap");
.title {
  margin: 0 auto;
  text-align: center; }

@media (min-width: 899px) {
  .catalog {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; } }

.catalog__container {
  display: flex;
  flex-flow: row wrap; }
  @media (min-width: 899px) {
    .catalog__container {
      min-width: 55rem;
      max-width: 60rem; } }

.catalog__item {
  width: 100%;
  flex-grow: 1; }
  @media (min-width: 899px) {
    .catalog__item {
      width: 33.3%; } }

.catalog__title {
  width: 100%;
  text-align: center; }

.catalog__filter {
  width: 100%;
  max-width: 300px;
  margin: 1rem 1rem 0 1rem;
  box-sizing: border-box; }
  @media (min-width: 899px) {
    .catalog__filter {
      min-width: 300px; } }

.catalog__header {
  width: 100%; }
  .catalog__header__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 899px) {
      .catalog__header__info {
        justify-content: flex-end; } }

@media (min-width: 899px) {
  .catalog__toggle-mobile-filter {
    display: none; } }

.catalog__search-criteria {
  display: flex;
  flex-flow: row wrap;
  width: 100%; }
  .catalog__search-criteria__item {
    background-color: #fff;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem; }
