@import "../../scss/partials/global";

.sales {
  width: 100%;

  &__btn {
    @include full-width-btn;
    margin: 1rem 0;

    &--with-border {
      border: 1px solid $pallete-2;
      color: $pallete-2;
    }

    &--with-bg-color {
      background-color: $pallete-2;
      color: #fff;
    }
  }

  &__quantity {
    margin: 0.5em 0;
    display: flex;
    flex-flow: column nowrap;

    &__label {
      margin-bottom: 0.25em;
    }
  }
}
