.sales {
  width: 100%; }
  .sales__btn {
    display: block;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    width: 100%;
    margin: 0 auto;
    margin: 1rem 0; }
    .sales__btn--with-border {
      border: 1px solid #4973ff;
      color: #4973ff; }
    .sales__btn--with-bg-color {
      background-color: #4973ff;
      color: #fff; }
  .sales__quantity {
    margin: 0.5em 0;
    display: flex;
    flex-flow: column nowrap; }
    .sales__quantity__label {
      color: #4b4b4b;
      margin: 0.25rem 0; }
    .sales__quantity__select {
      background-color: #eee;
      padding: 0.5rem 2rem;
      border-radius: 0.25rem;
      font-size: 1.2rem; }
