@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji+2:400,800&display=swap");
@media (min-width: 899px) {
  .item-list {
    width: 50%; } }

.item-list__item {
  display: flex;
  width: 100%; }

.item__img {
  width: 30% !important;
  border-radius: 0.25rem; }

.item__info {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .item__info__bottom {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }

.info {
  width: 100%; }
  @media (min-width: 899px) {
    .info {
      width: 50%; } }
  .info__block {
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    color: #747474; }
    .info__block__title--small {
      font-size: 0.9rem; }
    .info__block__title--bold {
      font-weight: bold; }
    .info__block__field-container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .info__block__field-container--dark {
        color: #202020; }
  .info hr {
    border: 1px solid #747474;
    border-top: none; }

.ms-checkout {
  margin: 0 0 2rem 0;
  width: 100%;
  display: grid;
  justify-content: center;
  overflow-x: hidden;
  position: relative; }
  @media (min-width: 899px) {
    .ms-checkout {
      margin: 0 auto;
      grid-template-columns: 900px; } }
  .ms-checkout__button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.125rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -8px 32px -21px rgba(0, 0, 0, 0.75); }
  .ms-checkout__header {
    margin: 1rem auto;
    margin-bottom: 0;
    text-align: center;
    max-width: 450px;
    min-width: 250px; }
  .ms-checkout__title {
    font-weight: bold;
    font-size: 1.1rem; }
  .ms-checkout__subtitle {
    font-size: 1rem; }
  .ms-checkout__step {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    @media (min-width: 899px) {
      .ms-checkout__step--2-cols {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start; } }
    .ms-checkout__step--empty {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      grid-row: 1; }
    .ms-checkout__step--hidden {
      display: none; }
    .ms-checkout__step--slide-in-rg {
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .ms-checkout__step--slide-in-lf {
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .ms-checkout__step--slide-out-rg {
      animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
    .ms-checkout__step--slide-out-lf {
      animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
    .ms-checkout__step__info {
      margin: 2rem 0 0.5rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      color: #1d2d3e; }
      .ms-checkout__step__info strong {
        margin-right: 0.5rem; }
      .ms-checkout__step__info svg {
        color: #e0ca00; }

.processing {
  height: 100vh;
  width: 100vw;
  transition: background-color 0.2s, color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .processing--verified {
    background-color: #27ae60;
    color: #fff; }
  .processing--error {
    background-color: tomato;
    background-size: 100% 100%;
    color: #fff; }
  .processing__msg {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .processing__msg--ver-anim {
      animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .processing__msg--err-anim {
      animation: shake-lr 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
    .processing__msg__info {
      font-size: 1.5rem; }
    .processing__msg__icon {
      margin: 2rem 0;
      font-size: 3rem; }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 16:38:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 16:55:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes shake-lr {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; }
  10% {
    transform: rotate(8deg); }
  20%,
  40%,
  60% {
    transform: rotate(-10deg); }
  30%,
  50%,
  70% {
    transform: rotate(10deg); }
  80% {
    transform: rotate(-8deg); }
  90% {
    transform: rotate(8deg); } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 17:33:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 17:36:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(-1000px);
    opacity: 0; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 18:38:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(1000px);
    opacity: 0; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 18:39:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
