/*progressbar*/
.progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

.progressbar li {
  list-style-type: none;
  color: #8d8d8d;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center; }

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  position: relative;
  text-align: center;
  z-index: 1;
  /*put it in front of the connectors*/ }

/*progressbar connectors*/
.progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px; }

.progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,
.progressbar li.active:after {
  background: #27ae60;
  color: white; }

.item-list__item {
  display: flex;
  width: 100%; }

.item__img {
  width: 30% !important;
  border-radius: 0.25rem; }

.item__info {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .item__info__bottom {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }

.info-block {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  color: #747474; }
  .info-block__title--small {
    font-size: 0.9rem; }
  .info-block__title--bold {
    font-weight: bold; }
  .info-block__field-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .info-block__field-container--dark {
      color: #202020; }
  .info-block hr {
    border: 1px solid #747474;
    border-top: none; }

.controls {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; }
  .controls__button {
    display: block;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0.35rem 1rem;
    background-color: #27ae60;
    color: #fff; }

.ms-checkout {
  margin: 0 0 2rem 0;
  width: 100%;
  display: grid;
  overflow-x: hidden; }
  .ms-checkout__header {
    margin: 1rem;
    text-align: center;
    max-width: 450px;
    min-width: 250px; }
  .ms-checkout__title {
    font-weight: bold;
    font-size: 1.1rem; }
  .ms-checkout__subtitle {
    font-size: 1rem; }
  .ms-checkout__step {
    grid-column: 1;
    grid-row: 2; }
    .ms-checkout__step--empty {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      grid-row: 1; }
    .ms-checkout__step--hidden {
      display: none; }
    .ms-checkout__step--slide-in-rg {
      animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .ms-checkout__step--slide-in-lf {
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .ms-checkout__step--slide-out-rg {
      animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
    .ms-checkout__step--slide-out-lf {
      animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
    .ms-checkout__step__info {
      margin: 2rem 0 0.5rem 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      color: #1d2d3e; }
      .ms-checkout__step__info strong {
        margin-right: 0.5rem; }
      .ms-checkout__step__info svg {
        color: #e0ca00; }

.processing {
  height: 100vh;
  width: 100vw;
  transition: background-color 0.2s, color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .processing--verified {
    background-color: #27ae60;
    color: #fff; }
  .processing--error {
    background-color: tomato;
    background-size: 100% 100%;
    color: #fff; }
  .processing__msg {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .processing__msg--ver-anim {
      animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .processing__msg--err-anim {
      animation: shake-lr 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
    .processing__msg__info {
      font-size: 1.5rem; }
    .processing__msg__icon {
      margin: 2rem 0;
      font-size: 3rem; }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 16:38:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 16:55:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes shake-lr {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%; }
  10% {
    transform: rotate(8deg); }
  20%,
  40%,
  60% {
    transform: rotate(-10deg); }
  30%,
  50%,
  70% {
    transform: rotate(10deg); }
  80% {
    transform: rotate(-8deg); }
  90% {
    transform: rotate(8deg); } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 17:33:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 17:36:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(-1000px);
    opacity: 0; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 18:38:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(1000px);
    opacity: 0; } }

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 18:39:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
